# Folders show their index file
DirectoryIndex index.php index.html

# Urls that are not a file or folder go to index.php
FallbackResource /index.php

# Debuggers ask for .map files that do not exist. Do not start the website for those: it causes login problems.
<FilesMatch "\.map$">
  FallbackResource disabled
</FilesMatch>

# Redirect old hetongeluk.nl url's
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^(www\.)?hetongeluk\.nl$ [NC]
  RewriteRule ^ https://roaddanger.org%{REQUEST_URI} [R=301,L,NE]
</IfModule>
